@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@layer base {
  body {
    font-family: "Urbanist", sans-serif;
    background: #002347;
  }
  .padding-inline {
    padding-inline: 119px;
  }
  @media screen and (max-width: 768px) {
    .padding-inline {
      padding-inline: 30px;
    }
  }
}
